Guide for Smart Contracts Verification
===
M-Tokens smart contract codes have been audited by a third-party, and available here: Peckshield Audit Repor(http://xxx)

To verify that on-chain M-Tokens are consistent with the smart contracts audited, there are 2 primary steps:

1)verify that the smart contract codes on the GitHub repository are of the same version as the codes audited;

2)verify that the on-chain contracts are consistent with the smart contract codes on the GitHub repository.
 
Verify that the smart contract codes on the GitHub code repository are of the same version as the codes audited.
---
M-Tokens smart contract GitHub repository: https://GitHub.com/mtokens. Commit hash is xxx (to be provided) 

The subject audited in the Peckshield Audit Report also targets commit hash: xxx (to be provided)

It can be confirmed that the two are of the same version upon taking the steps above.
 
Verify that the on-chain contracts are consistent with the smart contract codes on the GitHub repository.
---
It can be done through  etherscan.io:

AAA.sol on-chain contract code address: https://etherscan.io/address/0xffffffff#code.The corresponding contract code within the GitHub repository:https://GitHub.com/mtokens 

BBB.sol on-chain contract address: https://etherscan.io/address/0xffffffff#code
